<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbar.ejs') %>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Alterar produto</h1>
    </div>
    <div class="card-body">
        <!--Formulário de edição-->
    <form action="/produtos/update" method="POST">

        <input type="hidden" name="id" value="<%= produto.id %>">
        <label>Nome do produto:</label>
        <input
          type="text"
          name="nome"
          placeholder="Insira o nome do produto"
          class="form-control"
          value="<%= produto.nome %>"
          required
        />
        <label>preco do produto:</label>
        <input
          type="text"
          name="preco"
          placeholder="Insira o preco do produto"
          class="form-control"
          value="<%= produto.preco %>"
          required
        />
        <label>categoria do produto:</label>
        <input
          type="text"
          name="categoria"
          placeholder="Insira o categoria do produto"
          class="form-control mb-4"
          value="<%= produto.categoria %>"
          required
        />
        <input type="submit" class="btn btn-success" value="Alterar" />
        <input type="reset" class="btn btn-danger" value="Limpar" />
      </form>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>