<%- include ('partials/header.ejs') %> <%- include ('partials/navbar.ejs') %>

<style>
  body {
    background-color: #38332E;
    font-family: "Merriweather", serif;
    justify-content: center;
  }
</style>
<br>


<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Cadastrar local</h1>
    </div>
    <div class="card-body">
        <!--Formulário de cadastro-->
      <form action="/locais/new" method="POST">
        <label>Nome do local:</label>
        <input
          type="text"
          name="nome"
          placeholder="Insira o nome do local"
          class="form-control"
          required
        />
        <label>Tipo do local:</label>
        <input
          type="text"
          name="tipo"
          placeholder="Insira o tipo do local"
          class="form-control"
          required
        />
        <label>Descrição do local:</label>
        <input
          type="text"
          name="descricao"
          placeholder="Insira a descrição do local"
          class="form-control mb-4"
          required
        />
        <input type="submit" class="btn btn-success" value="Cadastrar" />
        <input type="reset" class="btn btn-danger" value="Limpar" />
      </form>
    </div>
  </div>
</div>
<br>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Locais</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead class="table">
                            <tr>
                                <th>Nome:</th>
                                <th>Tipo:</th>
                                <th>Descrição:</th>
                                <th colspan="2" style="text-align: center;">Ações:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% locais.forEach(local=> { %>
                                <tr>
                                    <td>
                                        <%= local.nome %>
                                    </td>
                                    <td>
                                        <%= local.tipo %>
                                    </td>
                                    <td>
                                        <%= local.descricao %>
                                    </td>
                                    <td class="text-center" style="max-width: 30px;">
                                        <a href="/locais/edit/<%= local.id %>">
                                            <button class="btn btn-warning btn-sm">Editar</button>
                                        </a>
                                    </td>
                                    <td class="text-center" style="max-width: 30px;">
                                        <a href="/locais/delete/<%= local.id %>" onclick="return confirm('Deseja mesmo excluir o local <%= local.nome %>?')">
                                            <button class="btn btn-danger btn-sm">Excluir</button>
                                        </a>
                                    </td>

                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include ('partials/footer.ejs') %>