<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<style>
  body {
    background-color: #38332E; /* Define um cinza claro para o fundo */
    font-family: "Merriweather", serif;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
  }
</style>
<br>
<h1 style="color:#c59102; ">Lista de Locais</h1> 
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Descrição</th>
    </tr>
  </thead>
  <tbody>
    <% locais.forEach(l => { %>
      <tr>
        <td><%= l.nome %></td>
        <td><%= l.tipo %></td>
        <td><%= l.descricao %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('partials/footer.ejs') %>