<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbar.ejs') %>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Alterar luta</h1>
    </div>
    <div class="card-body">
        <!--Formulário de edição-->
    <form action="/lutas/update" method="POST">

        <input type="hidden" name="id" value="<%= luta.id %>">
        <label>nome do luta:</label>
        <input
          type="text"
          name="nome"
          placeholder="Insira o nome do luta"
          class="form-control"
          value="<%= luta.nome %>"
          required
        />
        <label>vencedor do luta:</label>
        <input
          type="text"
          name="vencedor"
          placeholder="Insira o vencedor do luta"
          class="form-control"
          value="<%= luta.vencedor %>"
          required
        /> <br>
        <input type="submit" class="btn btn-success" value="Alterar" />
        <input type="reset" class="btn btn-danger" value="Limpar" />
      </form>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>