<%- include ('partials/header.ejs') %> <%- include ('partials/navbar.ejs') %>

<style>
  body {
    background-color: #38332E;
    font-family: "Merriweather", serif;
    justify-content: center;
  }
</style>
<br>


<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Cadastrar luta</h1>
    </div>
    <div class="card-body">
        <!--Formulário de cadastro-->
      <form action="/lutas/new" method="POST">
        <label>Nome da luta:</label>
        <input
          type="text"
          name="nome"
          placeholder="Insira o nome da luta"
          class="form-control"
          required
        />
        <label>vencedor da luta:</label>
        <input
          type="text"
          name="vencedor"
          placeholder="Insira o vencedor da luta"
          class="form-control"
          required
        /> <br>

        <input type="submit" class="btn btn-success" value="Cadastrar" />
        <input type="reset" class="btn btn-danger" value="Limpar" />
      </form>
    </div>
  </div>
</div>
<br>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Lutas</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead class="table">
                            <tr>
                                <th>Nome:</th>
                                <th>Vencedor:</th>
                                <th colspan="2" style="text-align: center;">Ações:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% lutas.forEach(luta=> { %>
                                <tr>
                                    <td>
                                        <%= luta.nome %>
                                    </td>
                                    <td>
                                        <%= luta.vencedor %>
                                    </td>

                                    <td class="text-center" style="max-width: 30px;">
                                        <a href="/lutas/edit/<%= luta.id %>">
                                            <button class="btn btn-warning btn-sm">Editar</button>
                                        </a>
                                    </td>
                                    <td class="text-center" style="max-width: 30px;">
                                        <a href="/lutas/delete/<%= luta.id %>" onclick="return confirm('Deseja mesmo excluir o luta <%= luta.nome %>?')">
                                            <button class="btn btn-danger btn-sm">Excluir</button>
                                        </a>
                                    </td>

                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include ('partials/footer.ejs') %>