<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>lutas</h1>
            </div>
    <div class="card-body">
        <!--Formulário de cadastro-->
      <form action="/lutas/new" method="POST">
        <label>numero do luta:</label>
        <input
          type="text"
          name="numero"
          placeholder="Insira o numero do luta"
          class="form-control"
          required
        />
        <label>valor do luta:</label>
        <input
          type="text"
          name="valor"
          placeholder="Insira o valor do luta"
          class="form-control"
          required
        /> <br>

        <input type="submit" class="btn btn-success" value="Cadastrar" />

      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>lutas</h1>
    </div>
    <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Número:</th>
                            <th>Valor:</th>
                            <th colspan="2" style="text-align: center;">Ações:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% lutas.forEach(luta => { %>
                        <tr>
                            <td><img src="imgs/order.png" width="30px"></td>
                            <td><%= luta.numero %></td>
                            <td><%= luta.valor.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
            <td><a href="/lutas/edit/<%= luta.id %>"><button class="btn btn-warning">Editar</button></a></td>
            <td><a href="/lutas/delete/<%= luta.id %>"><button onclick="return confirm('Deseja mesmo excluir o luta <%= luta.numero %>?')" class="btn btn-danger">Excluir</button></a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include ('partials/footer.ejs') %>