<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<h1>Bem-vindo à página de lutas!</h1>
<hr>

<h2>Lista de lutas</h2>

<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Nome da Luta</th>
      <th>Vencedor</th>
    </tr>
  </thead>
  <tbody>
    <% lutas.forEach(l => { %>
      <tr>
        <td><%= l.nome %></td>
        <td><%= l.vencedor %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<a href="/"><< Voltar</a>

<%- include('partials/footer.ejs') %>
