<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbar.ejs') %>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Alterar personagem</h1>
    </div>
    <div class="card-body">
        <!--Formulário de edição-->
    <form action="/personagens/update" method="POST">

        <input type="hidden" name="id" value="<%= personagem.id %>">
        <label>Nome do personagem:</label>
        <input
          type="text"
          name="nome"
          placeholder="Insira o nome do personagem"
          class="form-control"
          value="<%= personagem.nome %>"
          required
        />
        <label>raca do personagem:</label>
        <input
          type="text"
          name="raca"
          placeholder="Insira o raca do personagem"
          class="form-control"
          value="<%= personagem.raca %>"
          required
        />
        <label>arma do personagem:</label>
        <input
          type="text"
          name="arma"
          placeholder="Insira o arma do personagem"
          class="form-control mb-4"
          value="<%= personagem.arma %>"
          required
        />
        <input type="submit" class="btn btn-success" value="Alterar" />
        <input type="reset" class="btn btn-danger" value="Limpar" />
      </form>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>