<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<style>
  body {
    background-color: #38332E;
    font-family: "Merriweather", serif;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
  }
</style>
<br>
<h1 style="color:#c59102;">Lista de Personagens</h1> 

<table class="table table-bordered table-hover" 
       style="table-layout: fixed; width: 700px; margin: 10px auto; text-align: center;">
  <thead class="table-dark">
    <tr>
      <th style="width: 200px; height: 20px; vertical-align: middle;">Nome</th>
      <th style="width: 200px; height: 20px; vertical-align: middle;">Raça</th>
      <th style="width: 200px; height: 20px; vertical-align: middle;">Arma</th>
    </tr>
  </thead>
  <tbody>
    <% personagens.forEach(p => { %>
      <tr>
        <td style="width: 200px; height: 20px; vertical-align: middle;"><%= p.nome %></td>
        <td style="width: 200px; height: 20px; vertical-align: middle;"><%= p.raca %></td>
        <td style="width: 200px; height: 20px; vertical-align: middle;"><%= p.arma %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('partials/footer.ejs') %>
